@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freehand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@500&family=Mina:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
*{
   box-sizing: border-box;
}
body{
    line-height: 1.5;
    font-family:'Poppins', sans-serif;
    background-color:#F0ECE2 !important ;

}
.top-container{
    /* background-image:url('/App/Src/background2.jpg'); */
    height: 100vh;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}
.title{
  font-family: 'Caveat', cursive;
  font-size: 35pxF;
  color:#586F7C

}

.hizmetler{
  padding-left:250px;
  padding-right: 250px;
  padding-top: 100px;
}
.navbar-nav{
  align-items: center;
  text-align: center;
  float: center;
}
.navbar-nav a{
  text-align: center;
}
.navbar-nav ul{
  text-align: center;
  align-items: center;
  display: inline-block;
}
.navbar-brand{
  text-align: center;
  display: flex;
  float:right;
  padding-left:2%;
}
.nav-item a{
  font-size: 25px;
  text-align: center;
  float: center;
}
.nav-item a:hover{
  color: #000;
  font-size:21px;
}
.nav-item li{
  text-align: center;
  align-items: center;
  float: center;
}
.navbar-nav{
  align-items: center;
}
.top-container h1{
    color:black ;
    font-size: 70px;
    font-family: 'Dosis', sans-serif;
    letter-spacing: 2px;
    font-style: bold;
    text-align: left;

}
.text{
    margin: 50px 5%;
    font-family: sans-serif;
}
 .bottom-container{
    text-align: center;
    display: block;
     margin: auto;
     width: 500;
     height: 300;
     margin-bottom: 100px;

 }
 .middle{
    text-align: center;
    padding:15%;
    

 }
 .middle h1{
    color: #04724D;
    font-family: 'Permanent Marker', cursive;
    font-size: 60px;
    
 }
 .middle p{
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  margin-left: 10%;
  margin-right: 10%;

 }
 .header-text h1{
  color:#596e79;
 }
 .box p{
  color:#596e79;
 }
 .top{
  background-color: #fd5959;
 }
 .karosel{
    padding: 50px;
 }
 .card{
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    overflow: hidden;
    border-radius: 30%;
    
    
 }
 .entry{
  margin-bottom: 150px;
 }
 .entry-title{
  color: #04724D;
  margin:60px 0;

 }
 .entry-content{
  display: flex;
  align-items: center;
  justify-content: space-around;
 }
 #entry-img{
  width: 50%;

 }
 .entry-text h2{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color:#04724D;
  

 }
 #entry-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
 }
 #entry-text{
  float: inline-end;
  width:40%;
 }
 #entry-text h2{
  margin-bottom: 25px;
  color: #04724D;

 }
 #entry-text p{
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  padding: 15px;
  

 }
 .entry-text{
  width: 100%;
  height: 100%;
 }
 #hizmetler-header{
  text-align: center;
  margin-top:2%;
 }
 #entry-text span{
  font-family: 'Oooh Baby', cursive;
  font-size: 30px;
  color: #e91e63;
 }
 .float-start h2{
  padding-left: 3%;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color:green;
 

 }
 .sol-alt{
  float:start;
  padding-bottom: 5%;
  text-align: center;
 }
 
 .sağ-alt{
  float:inline-end;
  text-align: center;
 }
 
 .sağ-alt img{
  border-radius: 70%;
  
 }

 .icon{
  padding-left: 38%;
  width: 200%;
  color:green;
  
 }
 .col{
  text-align: center;
 }
 .col h3{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
 }
 #hizmetlerPage{
  background-color:#fcf9f6 ;
 }
 

 .about-img{
  width:100%;

 }
 .about-img img{
  width: 100%;
  height: 100%;
 }
 .about{
  margin-left:20%;
  margin-right: 20%;
  margin-top:1%;
  margin-bottom:7%;

 }
 .about-text p{
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  padding: 15px;
  font-weight: 300;
  
 }
 .about-header h3{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color:green;
  padding-left: 2.5%;


 }
 .about-header i{
  color: green;
  text-align: center;
 }
 .icon-dyt{
  padding-left: 40%;
  color:green;
 }

 
 .card-title{
   text-align: center;
   font-family: 'Oooh Baby', cursive;
   font-weight: 700;
   font-size: 40px;


 }
 .card-text{
   text-align:center;
   padding-top: 20px;
   font-family: 'Poppins', sans-serif;

 }
 .card:hover.card-title{
  transform: translateY(0px);
 }
 .card img{
  height: 400px;
 }
 .card .card-body .card-text{
  transition: 0.5s;
 }
 

 .card-body{
   text-align: center;
 }
 .btn{
  border-style: none;
  border-color:#F0ECE2 ;
 }
 .btn:hover{
  border:0px;
  border-color:#F0ECE2 ;

 }
 .link a{
  color:#000;
  text-decoration: none;
 }
 .link a:hover{
  color: #000;

 }
 .fa-square-arrow-up-right:hover{
  
  transform: translateX(10px);
 }

 .container2{
   max-width:1170px ;
   margin: auto;

 }
 
 .row1{
   display: flex;
   flex-wrap: wrap ;
 }
 ul{
   list-style: none;

 }
 .hizmetlerTxt h1{

  font-family: 'Permanent Marker', cursive;
  font-size: 50px;
  text-align: center;
  color:green

 }
 .hizmetlerTxt p{
  font-family: 'Dosis', sans-serif;
  text-align: center;
  font-size: 20px;
  padding-left: 270px;
  padding-right: 270px;
 }
 .nav-item a{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color:#586F7C;

 }
 .iletisim{
  background-color:#F7F2EC;
 }
 .iletisim img{
  max-height: 600px;
  text-align: center;

 }
   
 
 .footer{
   background-color: #24262b;
   padding: 70px 0;
 }
 .col-sm{
   width: 25%;
   padding:0 15px;
 }
 .col-sm h3{
   font-size: 18px;
   color: #ffffff;
   text-transform:capitalize;
   margin-bottom: 30px;
   font-weight: 500;
   position: relative;

 }
 .col-sm p{
   color:#bbbbbb;
   text-align: center;
   vertical-align: left;
   margin-top:20px ;
   font-family: 'Poppins', sans-serif;


 }
 .social-links{
   text-align: center;
   padding-top:20px ;
 }
 .links{
   padding-top: 10px;
 }
 .col-sm h3::before{
   content:'';
   position:absolute;
   left:0;
   bottom:-10px;
   background-color:#e91e63 ;
   height:2px;
   box-sizing:border-box;
   width: 60px;

 }
 .hizmetler{
  display: flex;
  height: 600px;
  flex-wrap: wrap;
  align-content: space-around;
 }
 .col-sm ul li:not(:last-child){
   margin-bottom: 10px;
 }
 .col-sm ul li a{
   font-size: 16px;
   text-transform: capitalize;
   color: #ffffff;
   text-decoration: none;
   font-weight: 300;
   color: #bbbbbb;
   display: block;
   transition: all 0.3s ease;
   font-family: 'Poppins', sans-serif;
 }
 .col-sm ul li a:hover{
   color: #ffffff;
   padding-left: 8px;
 }
 .col-sm .social-links a{
   display:inline-block;
   height: 40px;
   width: 40px;
   background-color: rgba(255,255,255,0.2);
   margin:0 10px 10px 0;
   text-align: center;
   line-height: 40px;
   border-radius: 50%;
   color: #ffffff;
   transition: all 0.5s ease;
 }
 .col-sm .social-links a:hover{
   color: #24262b;
   background-color: #ffffff;
 }
 .ml2 {
  font-weight: 900;
  font-size: 3.5em;
}

.ml2 .letter {
  display: inline-block;
  line-height: 1em;
}
 @media(max-width:1024px){

 }
 .tarifPage p{
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  padding: 15px;
  font-weight: 300;
}
 .tarifPage{
  margin-left:20%;
  margin-right: 20%;
  margin-top:1%;
  margin-bottom:7%;
 }
 .tarif-baslik p{
  text-align: center;
  color: #ff7b25;
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;

 }
 .row row-cols-3{
  margin:20%
 }
 .tarifler p{
  font-family: 'Dosis', sans-serif;
  font-size:20px;
  margin-top: 2.5%;
 }
 .tarifler{
  margin: 5%;
 }
 .TariflerPart{
  margin-left:50px;
  margin-right:50px;
 }
.all-button{
  appearance: none;
  background: none;
  border: none;
  outline: none;
  padding: 5px 10px;
  border-radius: 8px;
  color:#212121;
  font-size: 15px;
  font-weight:100px;
  transition: 0.4s;
  font-family: 'Montserrat', sans-serif;
  

}
.ng-scope{
}
.button-1{
  
  color:green;
  border:3px solid green;

}
.bottom-btn{
  padding-left: 50%;
  padding-right:50%;
  display: inline-block;
  
}
.button-1:hover{
  color:#FFF;
  background-color: green;

}
.button-2{
  color:#ff6b81;
  border:5px solid #ff6b81;
  border-radius: 50%;
  
}
.button-2:hover{
  color:#FFF;
  background-color: #ff6b81;
}
.hizmetler-col{
}
.hizmetler-col h3{
  height:70px;

}
.hizmetler-col button{
  text-align: flex-start;
}
html,body{
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x:hidden;
  background-color:#F0ECE2;
}
.row-cols-3{
  display: flex;
}
.footer{

}
.kutu{
  background: #04724D;
}
.box{
  color: #000;;
  

}
.last-part{
  padding-top:20% ;
}
.last-part img{
  width: 70%;

}
.box h2{
  font-family: 'Mukta', sans-serif;
}
.box h5{
  font-family: 'Playfair Display', serif;
}
.part-1 img{
  border-radius: 50%;
  width: 90%;

}
.section{
  padding-top: 10%;
}
.box p{
  font-size:20px;
}
.dugme:hover{
  border:0px;

}
.allPage{
  
  zoom: -80%;
}
.services img{
width: 100%;
border-radius:20%;
max-height: 192px;
image-resolution: cover;

}
.first img{
  width: 100%;
  padding-top: 5%;
  border-color: #000;
  border: #000;
  border:20px;


}
.first img::after {
  content:'';
  position: absolute;
  z-index: -1;
  bottom: -24px;
  left: -24px;
  width: 100%;
  height: 100%;
  background: #F0ECE2;
}
.bolum-1{
  padding-bottom: 5%;
}
 
 
