<main>
 <section class="bolum-1">
  <div class="container-xxl">
    <div class="row justify-content-between align-items-center m-lg-5">
      <div class="box col-md-6 first">
        <img src="App/Src/guven.jpeg" alt="">
      </div>
      <div class="box col-md-4">
        <h5 class="text-center">
          Simge Pehlivan Kliniği
        </h5>
        <h1 class="text-center">
          Kendine güvendikçe bizim bu işi başaracağımzı bil
        </h1>
        <p class="text-center">
          Basit, etkili ve lezzetli bir diyet seni bekliyor. Diyet yapmayı keyifli ve yaşam stilin haline getireceğiz.
        </p>
      </div>
      </div>
    </div>














 </section>




















<!-- kendini tanıtma kısmı -->
  <section class="section tanitma">
  <div class="container ">
    <div class="row part-1">
      
      <div class="box col-sm-6 align-self-center">
        <div class="header-text display-2zl-mb-0 "><h1>Diyetisyen</h1></div>
        <div class="header-text-btm "><h1>Simge Pehlivan</h1></div>
        <p>Make it simple. Make it sustainable. Make it delicious. Find the whole-food, plant-centered lifestyle that suits you.<br></p>
        <div class="link"><a class="button" href="#!/hakkimda">Beni daha çok tanımak için  <i class="fa-solid fa-square-arrow-up-right"></i></a>
        </div>
      </div>
      <div class="box col-sm-6 align-content-center justify-content-center">
        <img src="App/Src/simge123.jpg" alt="">
      </div>
    </div>
</div>
</section>
    
  <br>
      <br>
      <br>
        
    <!-- hizmetler Kısmı -->
<div class="container bolum-2">
  <div class="row">
      <h2>Diyetisyen <br> &nbsp; &nbsp; Hizmetleri</h2>
  </div>
  <div class="row justify-content-around services">
    <div class="col part-2">
     <div class="circular--portrait">
      <img src="App/Src/svg/weight-scale-solid.svg" alt="">
    </div>
      <h2>Smgyle Yüz Yüze Görüşerek Diyet</h2>
    
    </div>
    <div class="col part-2">
      <img src="App/Src/svg/square-whatsapp.svg" alt="">
      <h2>Online Diyet</h2>
    </div>
    <div class="col part-2">
      <img src="App/Src/svg/pills-solid.svg" alt="">
      <h2>Hastalıklarda Diyet</h2>
    </div>
    <div class="row justify-content-around">
      <div class="col part-2">
        <img src="App/Src/svg/person-swimming-solid.svg" alt="">
        <h2>Sporcu Beslenmesi</h2>
      </div>
      <div class="col part-2">
        <img src="App/Src/svg/child-solid.svg" alt="">
        <h2>Çocuk Beslenmesi</h2>
      </div>
      <div class="col part-2" >
        <img src="App/Src/svg/person-pregnant-solid.svg" alt="">
        <h2>Gebelik ve Doğum Sonrası Diyet</h2>
      </div>
      
  </div>
</div>


<div class="container last-part">
<div class="row justify-content-between">

  <div class="col-lg-5 ">
    <div class="row justify-content-center">
      <img class="text-center" src="App/Src/online-diyet1.jpg" alt="...">
    </div>
    <div class="row justify-content-center">
      <div class="col">
        <h5 class="text-center title">Online Diyet Takibi</h5>
        <p class="text-center">Ofise gelmeden, uzaktan, istediğiniz yerden sağlıklı ve istediğiniz kiloya ulaşma şansı.</p>
      </div>
      <div class="row bottom-btn">
        <button class="all-button button-2">
          Buyrun Gelin      
        </button>
      </div>
    </div>
   
      
    </div>

    <div class="col-lg-5">
      <div class="row justify-content-center">
        <img src="App/Src/klinik1.jpg" alt="...">
      </div>
      <div class="row justify-content-center">
        <div class="col">
          <h5 class="title">Bizi Ziyarete Gelin</h5>
          <p class="card-text">Tahlillerinize baktırma, Dr. Kadir Aydın'dan muayene olmak istiyorsanız buyrun gelin.</p>
        </div>
        <div class="row bottom-btn">
          <button class="all-button button-2" >
            Buyrun Gelin      
          </button>
        </div>
      </div>
      
      
       
        
      </div>
    </div>
  </div>
</div>

</main> 