<main>
<section class="section">
  <div class="container">
    <div class="row part-1 ">
      <div class="box col-sm-6 align-content-center justify-content-center">
        <img src="App/Src/simge123.jpg" alt="">
      </div>
      <div class="box col-sm-6 align-self-center">
        <div class="header-text display-2zl-mb-0 "><h1>Diyetisyen</h1></div>
        <div class="header-text-btm "><h1>Simge Pehlivan</h1></div>
        <p>Make it simple. Make it sustainable. Make it delicious. Find the whole-food, plant-centered lifestyle that suits you.<br></p>
        <div class="link"><a class="button" href="#!/hakkimda">Beni daha çok tanımak için  <i class="fa-solid fa-square-arrow-up-right"></i></a>
        </div>
      </div>
    </div>
</div>
</section>
    
  <br>
      <br>
      <br>
      <div class="container justify-content-start middle">
         <div class="content">
          <h1>Merhaba</h1>
          <p>Benim yapmak istediğim; seni sağlıklı olan kilona ulaştırmak.
          Sağlığına zarar verer alışkanlıklarını değiştirmene, ideal kilona ulaşmaya yardımcı olmak.
          Seninle el ele verip başarabileceğimize inanıyorum. Sen de var mısın?
        </p>
        </div>
        </div>
        
    
<!-- <section id="entry">
<div class="entry">
<div class="container">
  <div class="entry-title">
   
  </div>
  
    <div class="row">
      <div class="entry-content">
    <div class=".col-6" id="entry-img">
      <img class="float-start" src="App/Src/IMG_1058.JPEG" alt="" style="width:100%">
    </div>
    <div class=".col-6" id="entry-text">
      <h2>Size Nasıl Yardımcı Olabilirim?</h2>
      <div class="icon">
        <i class="fa-solid fa-seedling"></i>
      </div>
      <p><span>1)</span>Öncelikle sizi tanımak istiyorum. Boyunuzu, yaşınızı, kan tahlilinizi, alerjilerinizi ve beslenme düzeninizi öğrenerek işe başlıyorum.</p>
      <p><span>2)</span>Sizi tartıp ağırlık, yağ oranı, metabolik yaş, iç yağlanma ve vücudunuzdaki sıvı oranı gibi değerlere bakıp ölçümlerinizi değerlendiriyorum.</p>
      <p><span>3)</span>Diyet diyince insanların gözü korkmaya başlıyor fakat diyetinizi ben size göre planlıyorum. Sizin yaşam tarzınıza uygun bir diyet planlıyorum</p>
      <p><span>4)</span>Haftalık görüşmelerle kilonuzu, yağ oranınızı ve beslenme düzeninizi takip ediyorum. Sizden aldığım geri dönütlerle sizi sağlıklı kilonuza ulaştırmaya çalışıyorum</p>
    </div>
  </div>
  </div>

</div>

</div>

</section> -->

<div class="hizmetlerTxt">
<h1>Benimle Çalış</h1>

<!-- <div class="hizmetler">
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
<div class="carousel-inner">
  <div class="carousel-item active">
   <a href="hizmetler.html"> <img src="App/Src/PAKETLER1.png" class="d-block w-100" alt="..."></a>
  </div>
  <div class="carousel-item">
   <a href="hizmetler.html"> <img src="App/Src/PAKETLER2.png" class="d-block w-100" alt="..."></a>
  </div>
</div>
<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Next</span>
</button>

</div>

</div> -->


<div class="container">
<div class="row">
<div class="col" style="padding:120px;">
  
  
   <img src="App/Src/online-diyet1.jpg" class="card-img-top" alt="...">
     <div class="container-fluid">
      <h5 class="title">Online Diyet Takibi</h5>
      <p class="card-text">Ofise gelmeden, uzaktan, istediğiniz yerden sağlıklı ve istediğiniz kiloya ulaşma şansı.</p>
      <button class="all-button button-2" >
        Buyrun Gelin
      </button>
    </div>
</div>
  




<div class="col" style="padding:120px;">

 <img src="App/Src/klinik1.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="title">Bizi Ziyarete Gelin</h5>
    <p class="card-text">Tahlillerinize baktırma, Dr. Kadir Aydın'dan muayene olmak istiyorsanız buyrun gelin.</p>
    <button class="all-button button-2">
      Buyrun Gelin
      
    </button>
  </div>
</div>
</div>
</div>
</div>

</main> 