    <section class="about">
      <div class="row">
    <div class="col">
      <div class="about-img">
        <img src="App\Src\about.JPEG" alt="">
      </div>
  </div>
    <div class="col">
      <div class="about-header">
        <h3>Diyetisyen Simge Pehlivan</h3>
      </div>
      <div class="icon-dyt">
        <i class="fa-brands fa-nutritionix"></i>
      </div>
      <div class="about-text">
        <p>Muğla Sıtkı Koçman üniversitesinden 2021 yılında mezun oldum.
          <br>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur tempore, accusantium quos vel accusamus neque voluptatibus facere adipisci odit repellendus alias magnam similique tempora repudiandae unde blanditiis iste obcaecati. Accusantium?
        <br>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo, fugiat quia quae, consequuntur vero nulla excepturi nam sint vel delectus sit quis iste mollitia fugit quibusdam deleniti laboriosam deserunt. Ex?
      <br>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam, saepe eligendi. Enim excepturi deleniti nisi tenetur, qui, modi consequatur quas dolorum aspernatur, a doloremque laborum ex ipsam soluta unde? Ipsam.  
      </p>

      </div>
    </div>
  </div>
    </section>



   