<br>
<br>
<br>
<div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12" id="hizmetler-header">
                <h1>Sizin İçin Sunduğumuz Diğer Hizmetler</h1>
                <h5>En kapsamlı ve sizi sağlığınıza kavuşturan diyetleri yazıyoruz.</h5>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="beslenme">
        <div class="row row-cols-4">
            <div class="col hizmetler-col">
                <img src="App\Src\1.png"  style="width:100% ;">
                <h3>Kilo Verme</h3>
                <button  class="all-button button-1" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Detaylı Gör
                </button>
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Yemek Tarifi</h1>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col">
                                <img src="App/Src/Myfo20174936_0.jpg" width="100%">
                                    </div>
                                <div class="col">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quae a iusto voluptatem qui eius est quisquam, deleniti unde sit aut adipisci veniam vel saepe voluptatum officiis nobis atque ea.</p>
                            </div>
                                </div>
                            <div class="modal-footer">
                                <button class="all-button button-1" data-bs-dismiss="modal">Close</button>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col hizmetler-col">
                <img src="\App\Src\2.png" alt="" style="width:100% ;">
                <h3>Kilo Alma</h3>
                <button  class="all-button button-1" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Detaylı Gör
                </button>
                <div class="modal fade"  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel" >Yemek Tarifi</h1>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col">
                                <img src="App/Src/Myfo20174936_0.jpg" width="100%">
                                    </div>
                                <div class="col">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quae a iusto voluptatem qui eius est quisquam, deleniti unde sit aut adipisci veniam vel saepe voluptatum officiis nobis atque ea.</p>
                            </div>
                                </div>
                            <div class="modal-footer">
                                <button class="all-button button-1" data-bs-dismiss="modal">Close</button>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col hizmetler-col">
                <img src="App\Src\3.png" alt="" style="width:100% ;">
                <h3>Sporcu Beslenmesi</h3>
                <button  class="all-button button-1" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Detaylı Gör
                </button>
                <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5">Yemek Tarifi</h1>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col">
                                <img src="App/Src/Myfo20174936_0.jpg" width="100%">
                                    </div>
                                <div class="col">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quae a iusto voluptatem qui eius est quisquam, deleniti unde sit aut adipisci veniam vel saepe voluptatum officiis nobis atque ea.</p>
                            </div>
                                </div>
                            <div class="modal-footer">
                                <button class="all-button button-1" data-bs-dismiss="modal">Close</button>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        
            <div class="col hizmetler-col">
                <img src="App\Src\4.png" alt="" style="width:100% ;">
                <h3>Gebelikte Beslenme</h3>
                <button  class="all-button button-1" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Detaylı Gör
                </button>
                <div class="modal fade"  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" >Yemek Tarifi</h1>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col">
                                <img src="App/Src/Myfo20174936_0.jpg" width="100%">
                                    </div>
                                <div class="col">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quae a iusto voluptatem qui eius est quisquam, deleniti unde sit aut adipisci veniam vel saepe voluptatum officiis nobis atque ea.</p>
                            </div>
                                </div>
                            <div class="modal-footer">
                                <button class="all-button button-1" data-bs-dismiss="modal">Close</button>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        
            <div class="col hizmetler-col">
                <img src="App\Src\5.png" alt="" style="width:100% ;">
                <h3>Online Diyet</h3>
                <button  class="all-button button-1 " data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Detaylı Gör
                </button>
                <div class="modal fade"  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" >Yemek Tarifi</h1>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col">
                                <img src="App/Src/Myfo20174936_0.jpg" width="100%">
                                    </div>
                                <div class="col">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quae a iusto voluptatem qui eius est quisquam, deleniti unde sit aut adipisci veniam vel saepe voluptatum officiis nobis atque ea.</p>
                            </div>
                                </div>
                            <div class="modal-footer">
                                <button class="all-button button-1" data-bs-dismiss="modal">Close</button>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col hizmetler-col">
                <img src="App\Src\6.png" alt="" style="width:100% ;">
                <h3>Hastalıkta Diyet</h3>
                <button  class="all-button button-1 " data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Detaylı Gör
                </button>
                <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" >Yemek Tarifi</h1>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col">
                                <img src="App/Src/Myfo20174936_0.jpg" width="100%">
                                    </div>
                                <div class="col">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quae a iusto voluptatem qui eius est quisquam, deleniti unde sit aut adipisci veniam vel saepe voluptatum officiis nobis atque ea.</p>
                            </div>
                                </div>
                            <div class="modal-footer">
                                <button class="all-button button-1" data-bs-dismiss="modal">Close</button>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        
            <div class="col hizmetler-col">
              <div class="sol-alt">
                <img src="App\Src\7.png" alt="" style="width:100% ;">
                <h3>Çocuk Beslenmesi</h3>
                <button  class="all-button button-1" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Detaylı Gör
                </button>
                <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" >Yemek Tarifi</h1>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col">
                                <img src="App/Src/Myfo20174936_0.jpg" width="100%">
                                    </div>
                                <div class="col">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quae a iusto voluptatem qui eius est quisquam, deleniti unde sit aut adipisci veniam vel saepe voluptatum officiis nobis atque ea.</p>
                            </div>
                                </div>
                            <div class="modal-footer">
                                <button class="all-button button-1" data-bs-dismiss="modal">Close</button>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="col hizmetler-col">
                <div class="sağ-alt">
                <img src="App\Src\8.png" alt="" style="width:100% ;">
                <h3>Kanserde Beslenme</h3>
                <button  class="all-button button-1 " data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Detaylı Gör
                </button>
                <div class="modal fade"  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" >Yemek Tarifi</h1>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col">
                                <img src="App/Src/Myfo20174936_0.jpg" width="100%">
                                    </div>
                                <div class="col">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quae a iusto voluptatem qui eius est quisquam, deleniti unde sit aut adipisci veniam vel saepe voluptatum officiis nobis atque ea.</p>
                            </div>
                                </div>
                            <div class="modal-footer">
                                <button id="button  " class="all-button button-1" data-bs-dismiss="modal">Close</button>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        
    </div>
        </div>
    </div>
            
</div>