<main ng-controller="tarifController">
<div class="tarif-baslik">
    <p>Sağlıklı Tarifler</p>
</div>
<br>
    
    <div class="container TariflerPart">
        <div class="row justify-content-center">
            <div class="col col-lg-4 col-md-6 col-12">   
                <div class="tarifler">
                <img src="App/Src/Myfo20174936_0.jpg" alt="" style="width:100%">
                <p>Tarif1</p>
                <!-- Button trigger modal -->
                <button  class="all-button button-1" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Tarifi Gör
                </button>
                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Yemek Tarifi</h1>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col">
                                <img src="App/Src/Myfo20174936_0.jpg" width="100%">
                                    </div>
                                <div class="col">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quae a iusto voluptatem qui eius est quisquam, deleniti unde sit aut adipisci veniam vel saepe voluptatum officiis nobis atque ea.</p>
                            </div>
                                </div>
                            <div class="modal-footer">
                                <button class="all-button button-1" data-bs-dismiss="modal">Close</button>
                                
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            
        
            <div class="col col-lg-4 col-md-6 col-12">   
                <div class="tarifler">
                <img src="App/Src/Myfo20174936_0.jpg" alt="" style="width:100%">
                <p>Tarif1</p>
                <!-- Button trigger modal -->
                <button  class="all-button button-1" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Tarifi Gör
                </button>
                <!-- Modal -->
                <div class="modal fade"  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5"  >Yemek Tarifi</h1>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col">
                                <img src="App/Src/Myfo20174936_0.jpg" width="100%">
                                    </div>
                                <div class="col">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quae a iusto voluptatem qui eius est quisquam, deleniti unde sit aut adipisci veniam vel saepe voluptatum officiis nobis atque ea.</p>
                            </div>
                                </div>
                            <div class="modal-footer">
                                <button class="all-button button-1" data-bs-dismiss="modal">Close</button>
                                
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="col col-lg-4 col-md-6 col-12">   
                <div class="tarifler">
                <img src="App/Src/Myfo20174936_0.jpg" alt="" style="width:100%">
                <p>Tarif1</p>
                <!-- Button trigger modal -->
                <button  class="all-button button-1" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Tarifi Gör
                </button>
                <!-- Modal -->
                <div class="modal fade"  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5"  >Yemek Tarifi</h1>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col">
                                <img src="App/Src/Myfo20174936_0.jpg" width="100%">
                                    </div>
                                <div class="col">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quae a iusto voluptatem qui eius est quisquam, deleniti unde sit aut adipisci veniam vel saepe voluptatum officiis nobis atque ea.</p>
                            </div>
                                </div>
                            <div class="modal-footer">
                                <button class="all-button button-1" data-bs-dismiss="modal">Close</button>
                                
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="row justify content center">
            <div class="col col-lg-4 col-md-6 col-12">   
                <div class="tarifler">
                <img src="App/Src/Myfo20174936_0.jpg" alt="" style="width:100%">
                <p>Tarif1</p>
                <!-- Button trigger modal -->
                <button  class="all-button button-1" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Tarifi Gör
                </button>
                <!-- Modal -->
                <div class="modal fade"  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5"  >Yemek Tarifi</h1>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col">
                                <img src="App/Src/Myfo20174936_0.jpg" width="100%">
                                    </div>
                                <div class="col">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quae a iusto voluptatem qui eius est quisquam, deleniti unde sit aut adipisci veniam vel saepe voluptatum officiis nobis atque ea.</p>
                            </div>
                                </div>
                            <div class="modal-footer">
                                <button class="all-button button-1" data-bs-dismiss="modal">Close</button>
                                
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="col col-lg-4 col-md-6 col-12">   
                <div class="tarifler">
                <img src="App/Src/Myfo20174936_0.jpg" alt="" style="width:100%">
                <p>Tarif1</p>
                <!-- Button trigger modal -->
                <button  class="all-button button-1" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Tarifi Gör
                </button>
                <!-- Modal -->
                <div class="modal fade"  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5"  >Yemek Tarifi</h1>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col">
                                <img src="App/Src/Myfo20174936_0.jpg" width="100%">
                                    </div>
                                <div class="col">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quae a iusto voluptatem qui eius est quisquam, deleniti unde sit aut adipisci veniam vel saepe voluptatum officiis nobis atque ea.</p>
                            </div>
                                </div>
                            <div class="modal-footer">
                                <button class="all-button button-1" data-bs-dismiss="modal">Close</button>
                                
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="col col-lg-4 col-md-6 col-12">   
                <div class="tarifler">
                <img src="App/Src/Myfo20174936_0.jpg" alt="" style="width:100%">
                <p>Tarif1</p>
                <!-- Button trigger modal -->
                <button  class="all-button button-1" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Tarifi Gör
                </button>
                <!-- Modal -->
                <div class="modal fade"  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" >Yemek Tarifi</h1>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col">
                                <img src="App/Src/Myfo20174936_0.jpg" width="100%">
                                    </div>
                                <div class="col">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quae a iusto voluptatem qui eius est quisquam, deleniti unde sit aut adipisci veniam vel saepe voluptatum officiis nobis atque ea.</p>
                            </div>
                                </div>
                            <div class="modal-footer">
                                <button class="all-button button-1" data-bs-dismiss="modal">Close</button>
                                
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
            <div class="row justify-content-center">
            <div class="col col-lg-4 col-md-6 col-12">   
                <div class="tarifler">
                <img src="App/Src/Myfo20174936_0.jpg" alt="" style="width:100%">
                <p>Tarif1</p>
                <!-- Button trigger modal -->
                <button  class="all-button button-1" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Tarifi Gör
                </button>
                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" >Yemek Tarifi</h1>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col">
                                <img src="App/Src/Myfo20174936_0.jpg" width="100%">
                                    </div>
                                <div class="col">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quae a iusto voluptatem qui eius est quisquam, deleniti unde sit aut adipisci veniam vel saepe voluptatum officiis nobis atque ea.</p>
                            </div>
                                </div>
                            <div class="modal-footer">
                                <button class="all-button button-1" data-bs-dismiss="modal">Close</button>
                                
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="col col-lg-4 col-md-6 col-12">   
                <div class="tarifler">
                <img src="App/Src/Myfo20174936_0.jpg" alt="" style="width:100%">
                <p>Tarif1</p>
                <!-- Button trigger modal -->
                <button  class="all-button button-1" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Tarifi Gör
                </button>
                <!-- Modal -->
                <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5"  >Yemek Tarifi</h1>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col">
                                <img src="App/Src/Myfo20174936_0.jpg" width="100%">
                                    </div>
                                <div class="col">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quae a iusto voluptatem qui eius est quisquam, deleniti unde sit aut adipisci veniam vel saepe voluptatum officiis nobis atque ea.</p>
                            </div>
                                </div>
                            <div class="modal-footer">
                                <button class="all-button button-1" data-bs-dismiss="modal">Close</button>
                                
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="col col-lg-4 col-md-6 col-12">   
                <div class="tarifler">
                <img src="App/Src/Myfo20174936_0.jpg" alt="" style="width:100%">
                <p>Tarif1</p>
                <!-- Button trigger modal -->
                <button  class="all-button button-1" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Tarifi Gör
                </button>
                <!-- Modal -->
                <div class="modal fade"  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" >Yemek Tarifi</h1>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col">
                                <img src="App/Src/Myfo20174936_0.jpg" width="100%">
                                    </div>
                                <div class="col">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quae a iusto voluptatem qui eius est quisquam, deleniti unde sit aut adipisci veniam vel saepe voluptatum officiis nobis atque ea.</p>
                            </div>
                                </div>
                            <div class="modal-footer">
                                <button class="all-button button-1" data-bs-dismiss="modal">Close</button>
                                
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        
    </div>
    </div>
    

</main>